*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
}
section{
display: flex;
flex-wrap: wrap;
gap: 25px;
}
.cart{
    display: flex;
    flex-direction: column;
    width:min-content
}
.cartFavorites{
    display: flex;
    flex-direction: column;
    width: min-content;
    border: 2px;
}