*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.cartFavorites{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
